<div class="container minHeight">
    <h1 class="mt-5">Edit Product</h1>

    <form action="/admin/editProduct/{{productResult._id}}" method="post">

        <div class="row mb-3">
            <label for="data" class="col-md-2 col-form-label">Current description : </label>
            <div class="col-md-3">
                <p class="pt-2">{{productResult.description}}</p>
            </div>
            <label for="newDescription" class="col-md-2 col-form-label">New description</label>
            <div class="col-md-3">
                <textarea type="text" id="newDescription" class="form-control" name="newDescription"></textarea>
            </div>
        </div>

        <div class="row my-3">
            <label for="price" class="col-md-2 col-form-label">Current Price : </label>
            <div class="col-md-3">
                <p class="pt-2">{{productResult.price}}</p>
            </div>

            <label for="newPrice" class="col-md-2 col-form-label">New Price:</label>
            <div class="col-md-3">
                <input type="text" name="newPrice" class="form-control" id="newPrice">
            </div>
        </div>

        <div class="row my-3">
            <label for="stock" class="col-md-2 col-form-label">Current Stock : </label>
            <div class="col-md-3">
                <p class="pt-2">{{productResult.stock}}</p>
            </div>

            <label for="newStock" class="col-md-2 col-form-label">New Stock:</label>
            <div class="col-md-3">
                <input type="text" name="newStock" class="form-control" id="newStock">
            </div>
        </div>

        <div class="row my-3">
            <label for="image" class="col-md-2 col-form-label">Current Image : </label>
            <div class="col-md-3">
                <p class="pt-2">{{productResult.image}}</p>
            </div>

            <label for="newImage" class="col-md-2 col-form-label">New Image:</label>
            <div class="col-md-3">
                <input type="text" name="newImage" class="form-control" id="newImage">
            </div>
        </div>

        <div class="row my-3">
            <label for="category" class="col-md-2 col-form-label">Current Category : </label>
            <div class="col-md-3">
                <p class="pt-2">{{productResult.category}}</p>
            </div>

            <label for="newCategory" class="col-md-2 col-form-label">New Category:</label>
            <div class="col-md-3">
                {{!-- <input type="text" name="newCategory" class="form-control" id="newCategory"> --}}
                <select name="newCategory" id="newCategory" style="width: 250px;">
                    {{#each categoryResult}}
                    <option value="{{categoryName}}">{{categoryName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="row my-3">
            <label for="offer" class="col-md-2 col-form-label">Current Offer : </label>
            <div class="col-md-3">
                <p class="pt-2">{{productResult.offer}}</p>
            </div>

            <label for="newOffer" class="col-md-2 col-form-label">New Offer:</label>
            <div class="col-md-3">
                {{!-- <input type="text" name="newOffer" class="form-control" id="newOffer"> --}}
                <select name="newOffer" id="newOffer" style="width: 250px;">
                    {{#each offerResult}}
                    <option>{{offerName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-dark mb-3">Update</button>

    </form>
</div>