<div class="container minHeight">
    <div class="d-flex justify-content-between my-3 border-bottom">
        <h1>Admin Dashboard</h1>
        <form action="/admin/adminLogout" method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>

    {{!-- <form action="/admin/adminProductSearch" method="post" class="d-flex mb-3">
        <div>
            <button type="submit" class="btn btn-dark me-1">Search</button>
        </div>
        <div class="flex-grow-1 mb-3">
            <div>
                <input type="text" name="input" class="form-control" placeholder="Search with name or category"
                    id="searchInput">
            </div>
        </div>
    </form> --}}

    <div class="row d-flex justify-content-between">
        <div id="myBar" style="max-width:500px" class="col my-3"></div>
        <div id="myPlot" style="max-width:500px" class="col my-3"></div>
    </div>

    <div class="d-flex flex-column mb-3">
        <table class="table table-hover" id="example">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Sl.</th>
                    {{!-- <th scope="col" class="text-center">Image</th> --}}
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Sales in numbers</th>
                    <th scope="col" class="text-center">Sales in amount</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                <tr>
                    <th scope="row" class="text-center">{{addOne @index}}</td>
                        {{!--
                    <td class="text-center"><img src="/images/image1{{this._id}}.jpg" alt="image"
                            style="width: 5rem; height: 5rem; object-fit: contain;"></td> --}}
                    <td class="text-center">{{this.productName}}</td>
                    <td class="text-center">&#x20B9;{{this.price}}</td>
                    <td class="text-center">{{this.sales}}</td>
                    <td class="text-center">&#x20B9;{{multiply this.price this.sales}}</td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" class="text-center"></th>
                    {{!-- <td class="text-center"></td> --}}
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="fw-bold text-center">Total sales</td>
                    <td class="text-center">&#x20B9;{{total}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<div class="timeOfSale d-none">{{ timeOfSale }}</div>

<script>
    console.log({{ timeOfSale }})
    let timeOfSale = document.querySelector(".timeOfSale").innerHTML;
    console.log(timeOfSale)

    let xArray = timeOfSale.split(',')
    console.log(typeof xArray[0])
    console.log(xArray)
    let yArray = [{{ sales }}];
    console.log(yArray)

    // Define Data
    let data = [{
        x: xArray,
        y: yArray,
        mode: "markers",
        type: "scatter"
    }];

    let barData = [{
        x: xArray,
        y: yArray,
        mode: "lines",
        type: "bar"
    }];

    // Define Layout
    let layout = {
        xaxis: {
            type: 'date'
        },
        yaxis: {
            title: "Sales"
        },
        title: "Individual orders"
    };

    let barLayout = {
        xaxis: {
            type: 'date'
        },
        yaxis: {
            title: "Sales"
        },
        title: "Sales"
    };

    // Display using Plotly
    Plotly.newPlot("myPlot", data, layout);

    Plotly.newPlot("myBar", barData, barLayout);

    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copyHtml5', footer: true },
                { extend: 'excelHtml5', footer: true },
                { extend: 'csvHtml5', footer: true },
                { extend: 'pdfHtml5', footer: true }
            ]
        });
    });

</script>