<div class="container minHeight">

    <div class="d-flex justify-content-between mt-5">
        <h1>Cart</h1>
    </div>

    <form action="/search" method="post" class="d-flex mb-3">
        <div>
            <button type="submit" class="btn btn-dark me-1">Search</button>
        </div>
        <div class="flex-grow-1 mb-3">
            <div>
                <input type="text" name="input" class="form-control" placeholder="Search with name or category"
                    id="searchInput">
            </div>
        </div>
    </form>
    <div class="d-flex mb-3">
        <table class=" table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Sl.</th>
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">No.of items</th>
                    <th scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each result.cart}}
                <tr>
                    <th scope="row" class="text-center">{{addOne @index}}</th>
                    <td class="text-center">{{this.productName}}</td>
                    <td class="text-center">{{this.price}}</td>
                    <td class="text-center"><a href="/addToCart/{{this._id}}" class="ms-1 me-4 text-decoration-none text-dark"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg></a>{{this.count}}<a href="/removeFromCart/{{this._id}}"
                            class="ms-4 text-decoration-none text-dark"
                            onclick="return confirm('Are you sure, you want to remove product :{{this.productName}} from the cart?')"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                            </svg></a></td>
                    <td class="text-center">{{multiply this.price this.count}}</td>
                </tr>
                {{/each}}
                <tr>
                    <th scope="row" class="text-center"></th>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="fw-bold text-center">Total</td>
                    <td class="text-center">{{total}}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><a href="/buyNow/{{result.cart}}" class="btn btn-dark">Buy now</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>