
<div class="container">
    {{#each result}}
    <div class="row my-5">
        <h1>{{productName}}</h1>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="zoom-img">
                <img src="{{image}}" alt="Cycle" style="width :500px; height: 400px">
            </div>
        </div>
        <div class="col ms-5">
            <div class="row my-5">
                <div class="col">Price : {{price}}</div>
                <div class="col">Offer : {{offer}}</div>
            </div>
            <div class="row mb-5">
                <div class="col"><a href="" class="btn btn-outline-dark" style="width:120px ;">Add to card</a></div>
                <div class="col"><a href="" class="btn btn-outline-dark" style="width:120px ;">Buy now</a></div>
            </div>
            <div class="row mb-5">
                <div class="col"><a href="" class="btn btn-outline-dark" style="width:120px ;">Wishlist</a></div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div>
            <h3>Product description</h3>
            <div style="width: 100%; height:300px;" class="border">
                <p>{{description}}</p>
            </div>

        </div>
    </div>
    {{/each}}
</div>