<h1 class="mt-5 d-flex justify-content-center">Signup</h1>
<div class="container-fluid d-flex justify-content-center">
    <form class="col-md-4" action="/signup" method="post">
        <div class="my-3">
            <input type="text" name="name" class="form-control text-center" id="exampleInputName" placeholder="Name"
                aria-describedby="nameHelp">
                <p class="text-center">{{nameMsg}}</p>
        </div>
        <div class="my-3">
            <input type="text" name="mobile" class="form-control text-center" id="exampleInputMobile"
                placeholder="Mobile" aria-describedby="mobileHelp">
                <p class="text-center">{{mobileMsg}}</p>
        </div>
        <div class="my-3">
            <input type="text" name='username' class="form-control text-center" id="exampleInputEmail"
                placeholder="Username" aria-describedby="emailHelp">
                <p class="text-center">{{usernameMsg}}</p>
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control text-center" id="exampleInputPassword"
                placeholder="Password">
                <p class="text-center">{{pwdMsg}}</p>
        </div>
        <div class="mb-3">
            <input type="password" name="confirmPassword" class="form-control text-center"
                id="exampleInputConfirmPassword" placeholder="Confirm Password">
                <p class="text-center">{{confirmPwdMsg}}</p>
        </div>
        <div class='mb-3 d-flex justify-content-center'>
            <button type="submit" class="btn btn-primary">Signup</button>
        </div>
    </form>
</div>